<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework no.1 - Creating a Zoo</title>
</head>
<body>
    <h2>Homework no.1 - Creating a Zoo</h2>
    <form onsubmit="submitForm(event)"> 
        <input id="nameID" type="text" placeholder="Enter the name of the animal">
        <input id="typeID" type="text" placeholder="What type of animal is it?">
        <input id="ageID" type="number" placeholder="What's the animal's age?">
        <button type="submit">Create an animal</button>
    </form>
    <ul id="animalUL"></ul>
    <script src="../src/Homework1.js"></script>
</body>
</html>